@use '../utils/bem.scss' as * with (
  $block: 'form-item'
);

@use '../common/var' as *;
@use '../utils/form.scss' as form;
@use '../utils/transition.scss' as *;

@include b() {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  transition: all getTransition();
  margin-bottom: 25px;
  @include e(label) {
    margin-right: 18px;
  }
  @include e(wrapper) {
    width: 100%;
    transition: inherit;
    position: relative;
    display: flex;
    align-items: center;
    @include e(validation-message) {
      font-size: getFontSize('extra-small');
      position: absolute;
      top: 100%;
      left: 0;
      color: getColor('error');
      @each $state in (success, error) {
        @include m($state) {
          display: flex;
          align-items: center;
          color: getColor($state);
        }
      }
    }
  }
}

@include is(required) {
  &::before {
    content: '*';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    color: getColor('error');
    display: inline-block;
    padding-right: 5px;
  }
}

$error-transition-group: getTransitionGroupName('error-message');
@include transitionActive($error-transition-group, true) {
  transition: all getTransition();
}
@include enterFromAndLeaveTo($error-transition-group) {
  transform: translateY(-20px);
  opacity: 0;
}
