@use '../utils/bem.scss' as * with (
  $block: icon
);

@include b() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  position: relative;
  margin: 2px;
  svg {
    fill: currentColor;
    width: inherit;
    height: inherit;
  }
}

@include e('loading') {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
