@use '../utils/bem.scss' as * with (
  $block: icon
);

@include b() {
  $size: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $size;
  position: relative;
  margin: 0px 5px;
  svg {
    fill: currentColor;
    width: inherit;
    height: inherit;
  }
}

@include m('loading') {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
