@use '../utils/bem.scss' as * with (
  $block: 'input'
);

@use '../common/var' as *;
@use '../utils/form.scss' as form;

@mixin suffixItem {
  cursor: pointer;
  margin-right: 7px;
  transition: all getTransition('fast');
}

@include b() {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  font-size: getFontSize();
  padding: form.$padding;
  border-radius: getBorderRadius('round');
  outline: 1px solid getBorderColor();
  box-sizing: border-box;
  width: 100%;
  &:hover {
    outline-color: getColor();
  }
  &:focus-within {
    outline-width: 2px;
    outline-color: getColor();
  }
  @include e(wrapper) {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-flex;
    align-items: center;
    padding: 0;
    width: 100%;
    @include e(inner) {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      border: none;
      outline: none;
      background: none;
      width: 100%;
      flex-grow: 1;
      box-sizing: border-box;
      cursor: text;
      &:focus {
        outline: none;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
    @include e(prefix) {
      display: inline-flex;
      align-items: center;
      margin-right: 8px;
    }
    @include e(suffix) {
      display: inline-flex;
      align-items: center;
      grid-gap: 3px;
      margin-left: 8px;
      cursor: default;
      @include e(clear) {
        @include suffixItem;
        &:hover {
          transform: scale(1.2);
        }
      }
      @include e(password) {
        @include suffixItem;
      }
      @include e(count) {
        @include suffixItem;
        font-size: getFontSize('extra-small');
      }
    }
  }
}

@include is(disabled) {
  cursor: not-allowed;
  outline-color: getDisabledColor('border');
  background-color: getDisabledColor('fill');
  color: getDisabledColor('text');
  opacity: getOpacity('disabled');
  &:hover {
    outline-color: getDisabledColor('border');
  }
}

@include is(readonly) {
  cursor: default;
  @include e(inner) {
    cursor: inherit;
  }
}

// size
@include m(small) {
  padding: 0 8px;
  font-size: getFontSize('small');
  @include e(wrapper) {
    padding: 4px 0;
  }
}
@include m(large) {
  padding: 0 18px;
  @include e(wrapper) {
    padding: 12px 0;
  }
}

// line theme
@include is(line) {
  outline: none;
  border-radius: 0;
  @include e(wrapper) {
    border-bottom: 1px solid getBorderColor();
    &:focus-within {
      border-color: getColor();
    }
  }
}

@include is(mask) {
  outline: none;
  background-color: getFillColor('dark');
  opacity: getOpacity();
  &:hover {
    background-color: getFillColor('light');
  }
  &:focus-within {
    background-color: getFillColor();
    outline: 1px solid getBorderColor();
  }
}
