@use '../utils/bem.scss' as * with (
  $block: 'input'
);

@use '../common/var' as *;
@use '../utils/form.scss' as form;

@mixin suffixItem {
  cursor: pointer;
  margin-right: 7px;
  transition: all getTransition('fast');
  padding: 4px;
  border-radius: getBorderRadius('small');
  &:active {
    transform: scale(0.8);
  }
  &:hover {
    background-color: getFillColor('dark');
  }
}

@include b() {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  font-size: getFontSize();
  padding: 0 10px;
  height: form.getFormItemHeight();
  border-radius: getBorderRadius('small');
  outline: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: getBoxShadow('base');
  transition: background-color getTransition('fast');
  color: getTextColor();
  background-color: getFillColor();
  &:hover {
    outline-color: getColor();
    @include e(clear) {
      opacity: 1 !important;
    }
  }
  &:focus-within {
    outline-width: 2px;
    outline-color: getColor();
  }
  @include e(wrapper) {
    width: 100%;
    height: 100%;
    font: inherit;
    display: inline-flex;
    align-items: center;
    position: relative;
    @include e(prefix) {
      display: inline-flex;
      align-items: center;
      margin-right: 8px;
    }
    @include e(inner) {
      font: inherit;
      color: inherit;
      border: none;
      outline: none;
      background: none;
      width: 100%;
      flex: 1 1 auto;
      box-sizing: border-box;
      cursor: text;
      height: 100%;
      padding: 0;
      &:focus {
        outline: none;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
    @include e(suffix) {
      display: inline-flex;
      align-items: center;
      grid-gap: 3px;
      margin-left: 8px;
      cursor: default;
      @include e(clear) {
        @include suffixItem;
        opacity: 0;
      }
      @include e(password) {
        @include suffixItem;
      }
      @include e(count) {
        @include suffixItem;
        font-size: getFontSize('extra-small');
        pointer-events: none;
      }
    }
  }
}

@include is(disabled) {
  cursor: not-allowed;
  outline-color: getDisabledColor('border');
  background-color: getDisabledColor('fill');
  color: getDisabledColor('text');
  opacity: getOpacity('disabled');
  &:hover {
    outline-color: getDisabledColor('border');
  }
}

@include is(readonly) {
  cursor: default;
  @include e(inner) {
    cursor: inherit;
  }
}

// size
@include m(small) {
  font-size: getFontSize('small');
  height: form.getFormItemHeight('small');
  padding: 0 5px;
}
@include m(medium) {
  height: form.getFormItemHeight('medium');
  padding: 0 12px;
}
@include m(large) {
  height: form.getFormItemHeight('large');
  padding: 0 18px;
}

// mask theme
@include is(mask) {
  outline-color: transparent;
  background-color: getFillColor('dark');
  opacity: getOpacity();
  &:hover {
    background-color: getFillColor('light');
  }
  &:focus-within {
    background-color: getFillColor();
    outline-color: getColor();
    opacity: 1;
  }
}
