@use '../utils/bem.scss' as * with (
  $block: 'input'
);

@use '../common/var' as *;

@include b() {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  font-size: getFontSize();
  padding: 8px 12px;
  border-radius: getBorderRadius('round');
  outline: 1px solid getBorderColor();
  cursor: text;
  &:hover {
    outline-color: getColor();
  }
  &:focus-within {
    outline-width: 2px;
    outline-color: getColor();
  }
  @include e(wrapper) {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-flex;
    align-items: center;
    @include e(inner) {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      border: none;
      outline: none;
      background: none;
      width: 100%;
      flex-grow: 1;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
    @include e(prefix) {
      display: inline-flex;
      align-items: center;
      margin-right: 8px;
    }
    @include e(suffix) {
      display: inline-flex;
      align-items: center;
      grid-gap: 3px;
      margin-left: 8px;
      @include e(clear) {
        cursor: pointer;
        margin-left: 7px;
        transition: all getTransition('fast');
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@include is(disabled) {
  cursor: not-allowed;
  outline-color: getBorderColor('disabled');
  background-color: getFillColor('disabled');
  color: getTextColor('disabled');
  opacity: getOpacity('disabled');
  &:hover {
    outline-color: getBorderColor('disabled');
  }
}
