@use '../utils/bem.scss' as * with (
  $block: 'message'
);
@use '../common/var' as *;
@use '../utils/transition.scss' as *;

@include b() {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX((-50%));
  box-shadow: getBoxShadow('base');
  width: fit-content;
  max-width: calc(100% - 100px);
  padding: 10px 20px;
  margin-bottom: 15px;
  box-sizing: inherit;
  display: inline-flex;
  align-items: center;
  text-align: left;
  vertical-align: middle;
  border-radius: getBorderRadius('large');
  overflow-wrap: break-word;
  color: getTextColor();
  background-color: getFillColor();
  transition: all getTransition('fast');
  @include e(icon) {
    margin-right: 10px;
    flex-shrink: 1;
  }
  @include e(content) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @include e(close) {
    margin-left: 10px;
    flex-shrink: 1;
    padding: 5px;
    border-radius: getBorderRadius('small');
    transition: transform getTransition();
    cursor: pointer;
    &:hover {
      background-color: getFillColor('dark');
    }
    &:active {
      transform: scale(0.8);
    }
  }
}

$name: getTransitionName('message');
@include transitionActive($name, false) {
  transition: all getTranstion('fast') ease-in-out;
}
@include enterFromAndLeaveTo($name) {
  opacity: 0;
  transform: translate(-50%, -50px);
}
