@use '../utils/bem.scss' as * with (
  $block: selection
);

@use '../common/var' as *;
@use '../utils/transition.scss' as *;
@use '../utils/form.scss' as form;

@include b() {
  width: 100%;
  min-height: form.getFormItemHeight();
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  font-size: getFontSize();
  border-radius: getBorderRadius('small');
  outline: 1px solid transparent;
  box-sizing: border-box;
  color: getTextColor();
  background-color: getFillColor();
  box-shadow: getBoxShadow('base');
  transition: all getTransition();
  cursor: pointer;
  &:hover {
    outline-color: getColor();
  }
  @include e('wrapper') {
    width: 100%;
    min-width: inherit;
    min-height: inherit;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    border-radius: inherit;
    padding: form.getFormItemPadding();
    overflow: hidden;
    @include e('inner') {
      width: 0;
      display: none;
    }
    @include e('label') {
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include e('label-item') {
        padding-right: 5px;
        display: flex;
        align-items: center;
      }
    }
    @include e('placeholder') {
      position: absolute;
      left: 10px;
      width: 100%;
      height: inherit;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: getTextColor('placeholder');
      user-select: none;
    }
    @include e('suffix') {
      margin-left: auto;
      display: flex;
      align-items: center;
      @include e('clear') {
        cursor: pointer;
        margin-right: 7px;
        transition: all getTransition('fast');
        padding: 4px;
        border-radius: getBorderRadius('small');
        &:active {
          transform: scale(0.8);
        }
        &:hover {
          background-color: getFillColor('dark');
        }
      }
    }
  }
  @include e('menu') {
    width: 100%;
    background-color: getFillColor();
    outline: 1px solid transparent;
    box-shadow: getBoxShadow();
    transition: all getTransition();
    height: fit-content;
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow: auto;
    padding: 10px 0;
    &:hover {
      outline-color: getColor();
      cursor: pointer;
    }
  }
}

@each $s in form.$size {
  @include m($s) {
    height: form.getFormItemHeight($s);
  }
}

$selection-menu-transition-name: getTransitionName('selection-menu');
@include transitionActive($selection-menu-transition-name) {
  transition: all getTransition('fast');
}
@include enterFromAndLeaveTo($selection-menu-transition-name) {
  opacity: 0;
}
