@use '../utils/bem.scss' as * with (
  $block: tooltip
);
@use '../common/var' as *;

@include b() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: getBorderRadius();
  box-sizing: border-box;
  background-color: getBlack();
  color: getWhite();
  z-index: 1;
  width: max-content;
  @include e(arrow) {
    --#{$config-namespace}-tooltip-arrow-size: 0.5rem;
    background: #222;
    width: var(--#{$config-namespace}-tooltip-arrow-size);
    height: var(--#{$config-namespace}-tooltip-arrow-size);
    transform: rotate(45deg);
  }
}
@include m(reference) {
  cursor: pointer;
}
