@use "sass:map";

// 基础颜色
// ------ 辅助色-light ------
$color-primary-light: #125bf6; // 主色
$color-success-light: #04b626; // 成功色
$color-warning-light: #f7b500; // 警告色
$color-error-light: #f93e3e; // 错误色

// ------ 辅助色-dark ------
$color-primary-dark: #0d4abf; // 主色
$color-success-dark: #0e9e2f; // 成功色
$color-warning-dark: #d89f00; // 警告色
$color-error-dark: #d13a3a; // 错误色

// ------ 中性色 ------
$black: #000;
$white: #fff;

$themes: (
    ) !default;
$themes: map.deep-merge(('primary': ('light': $color-primary-light,
                'dark': $color-primary-dark ),
            'success': ('light': $color-success-light,
                'dark': $color-success-dark ),
            'warning': ('light': $color-warning-light,
                'dark': $color-warning-dark ),
            'error': ('light': $color-error-light,
                'dark': $color-error-dark ),
            'black': $black,
            'white': $white ))