@use '../config/config.scss' as config;
@forward '../config/config.scss' as config-*;

$block: '' !default;

@function generateBem($blockSuffix, $element, $modifier) {
  $name: #{config.$namespace} + #{config.$common-sperator} + #{$block};
  @if $blockSuffix != '' {
    $name: #{$name} + #{config.$common-sperator} + #{$blockSuffix};
  }
  @if $element != '' {
    $name: #{$name} + #{config.$element-sperator} + $element;
  }
  @if $modifier != '' {
    $name: #{$name} + #{config.$modifier-sperator} + $modifier;
  }
  @return $name;
}

@mixin b($blockSuffix: '') {
  $name: generateBem($blockSuffix, '', '');
  .#{$name} {
    @content;
  }
}

@mixin e($element) {
  $name: generateBem('', $element, '');
  .#{$name} {
    @content;
  }
}

@mixin m($modifier) {
  $name: generateBem('', '', $modifier);
  .#{$name} {
    @content;
  }
}

@mixin be($blockSuffix, $element) {
  $name: generateBem($blockSuffix, $element, '');
  .#{$name} {
    @content;
  }
}

@mixin em($blockSuffix, $element, $modifier) {
  $name: generateBem($blockSuffix, $element, $modifier);
  .#{$name} {
    @content;
  }
}

@mixin bm($blockSuffix, $modifier) {
  $name: generateBem($blockSuffix, '', $modifier);
  .#{$name} {
    @content;
  }
}

@mixin bem($blockSuffix, $element, $modifier) {
  $name: generateBem($blockSuffix, $element, $modifier);
  .#{$name} {
    @content;
  }
}

@mixin is($state) {
  .is-#{$state + ''} {
    @content;
  }
}
