@use 'sass:map';

$size: small medium large;
$formItemHeight: () !default;
$formItemHeight: map.deep-merge(
  (
    small: 28px,
    normal: 36px,
    medium: 48px,
    large: 56px,
  ),
  $formItemHeight
);
@function getFormItemHeight($size: normal) {
  @return map.get($formItemHeight, $size);
}

@function getFormItemPadding() {
  @return 0 10px;
}
