// vue component transition and transition-group

// ------------------------------------------------------------------------
// ----- the base mixin to build transiton or transition group styles -----
// ------------------------------------------------------------------------

// transition active
// $name: transition name
// $isGroup: whether transition is group
@mixin transitionActive($name, $isGroup: false) {
  .#{$name}-enter-active,
  .#{$name}-leave-active {
    @content;
  }
  @if $isGroup {
    .#{$name}-move {
      @content;
    }
    .#{$name}-leave-active {
      position: absolute;
    }
  }
}

// enter from and leave to
@mixin enterFromAndLeaveTo($name) {
  .#{$name}-enter-from,
  .#{$name}-leave-to {
    @content;
  }
}

// generate transition name
$prefix: 'ra__';
$suffix: '__transition';
$group: 'group--';

@function getTransitionName($name) {
  @return '#{$prefix}#{$name}#{$suffix}';
}

@function getTransitionGroupName($name) {
  @return '#{$group}#{getTransitionName($name)}';
}
